@import-normalize;

:root {
  --primary-bg-color: #f6f6f7;
  --primary-font-family: ;
}

body {
  background-color: var(--primary-bg-color);
  font-family: sans-serif;
}

/* @font-face {
  font-family: 'SFMono';
  src: local('SFMono'), url(./assets/fonts/SFMono-Bold.otf) format('otf');
} */
